.layout__wrapper
    .quiz-block.quiz-block--small
        h1.quiz-block__title Apklausa apie Swedbank teikiamas paslaugas.

        .quiz-block__content
            h3.quiz-block__title Apie „Swedbank“ Lietuvoje.
            p.text--small „Swedbank“ – vienas pirmaujančių komercinių bankų mūsų šalyje. Mes teikiame visas bankines paslaugas daugeliui privačių asmenų ir įmonių. Santykius su klientais grindžiame ilgalaikiu pasitikėjimu, suteikiant jiems finansiniams klausimams spręsti reikalingų priemonių ir žinių, kartu siūlant paprastus ir aiškius finansinius sprendimus. Savo veikla siekiame skatinti stiprią ir tvarią daugelio gyventojų bei įmonių finansinę padėtį.
            p.text--small Puoselėdami ilgalaikius santykius su klientais, nuolat rūpinamės savo paslaugų kokybe ir aptarnavimu – klausiame ir klausome savo klientų. Tikime, kad mūsų siūlomi patarimai ir sprendimai padeda įgyvendinti mūsų viziją – sudaryti galimybes gyventojams, įmonėms ir visuomenei augti.
            p.text--small Mūsų vertybės – paprastumas, atvirumas ir rūpestingumas.

        .btn-group.btn-group--center
            button.btn.btn--primary(type="button", ng-click="viewCtrl.start()") Pradėti apklausą