include ../base/vars

doctype html
html(lang="lt", ng-app="app")
    head
        include ./blocks/meta
        title= pageTitle
        include ./blocks/style
    body(ng-cloak)
        include ../blocks/header.pug
        main.layout
            block content
        include ../blocks/footer.pug
        include ./blocks/script-bottom